CITEST/services/JobletRoutineDataService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:isdx="http://services.test.esb.talend.org/Standard" xmlns:jms="http://schemas.xmlsoap.org/wsdl/jms/" xmlns:msg="http://services.test.esb.talend.org/Standard" xmlns:pri="http://services.test.esb.talend.org/Standard/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.test.esb.talend.org/Standard" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://services.test.esb.talend.org/Standard">
    <types>
        <xsd:schema xmlns="http://services.test.esb.talend.org/Standard" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" elementFormDefault="unqualified" jaxb:extensionBindingPrefixes="xjc" jaxb:version="2.1" targetNamespace="http://services.test.esb.talend.org/Standard/types">
            

    
    
    
    
            
    <xsd:element name="StringType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="value" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="AnyType">
        <xsd:sequence>
            <xsd:any/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RequestType">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    
    
            
    <xsd:element name="OnewayRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="key" type="xsd:string"/>
                <xsd:element name="value" type="pri:AnyType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="Request" type="pri:RequestType"/>
    
    <xsd:element name="Response" type="pri:AnyType"/>

    <xsd:element name="FaultDetail">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="code" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    

        </xsd:schema>
    </types>

    <!-- Message elements definitions -->
    <wsdl:message name="doOnewayRequest">
        <wsdl:part element="pri:OnewayRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="doRequestResponseRequest">
        <wsdl:part element="pri:Request" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="doRequestResponseResponse">
        <wsdl:part element="pri:Response" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="doRequestResponseFault">
        <wsdl:part element="pri:FaultDetail" name="fault"/>
    </wsdl:message>

    <!-- Port type declaration -->
    <portType name="StandardTestService">
        <wsdl:operation name="doOneway">
            <wsdl:input message="msg:doOnewayRequest"/>
        </wsdl:operation>
        <wsdl:operation name="doRequestResponse">
            <wsdl:input message="msg:doRequestResponseRequest"/>
            <wsdl:output message="msg:doRequestResponseResponse"/>
            <wsdl:fault message="msg:doRequestResponseFault" name="fault"/>
        </wsdl:operation>
    </portType>

    <!-- Service declaration -->
    <wsdl:service name="StandardTestServiceProvider">
        <wsdl:port binding="tns:localhostBinding" name="localhost">
            <soap:address location="http://localhost:9088/soap/StandardTestServiceProvider/"/>
        </wsdl:port>
    </wsdl:service>

    <!-- Binding declaration -->
    <wsdl:binding name="localhostBinding" type="isdx:StandardTestService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="doOneway">
            <soap:operation soapAction="http://services.test.esb.talend.org/Standard/StandardTestServiceProvider/doOneway"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="doRequestResponse">
            <soap:operation soapAction="http://services.test.esb.talend.org/Standard/StandardTestServiceProvider/doRequestResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</definitions>